Repository EKGF/ekg-maturity, changes with the labels that .github/labeler.yml gives for each.
All labels: mkdocs-infra, github-actions, infra, diagram

.github/labeler.yml:

mkdocs-infra:
  - Makefile
  - mkdocs.yml
  - docs-overrides/
  - docs/assets/
  - docs/stylesheets/
  - docs/main.py
  - '*/**/CNAME'
  - .tool-versions
  - README.md

github-actions:
  - .github/

infra:
  - etc/*
  - .*
  - /**/**.sh
  - /**/*.md

diagram:
  - /**/*.puml

Fixed gitcus commenting
  mkdocs.yml
Labels: mkdocs-infra

Fixing rename
  mkdocs.yml
Labels: mkdocs-infra

Changed Ontology IRI for the maturity model ontology plus some updates in README
  README.md
  customer-assets/ekgf/quadrants.jpg
  metadata/a-1-business-strategy-actuation.ttl
  metadata/a-2-business-model-elaboration.ttl
  metadata/a-3-business-enablers.ttl
  metadata/b-1-executive-leadership.ttl
  metadata/b-2-product-ownership.ttl
  metadata/b-3-delivery-management.ttl
  metadata/b-4-organizational-culture.ttl
  metadata/b-5-organizational-capabilities.ttl
  metadata/business-pillar.ttl
  metadata/c-1-data-strategy.ttl
  metadata/c-2-data-architecture.ttl
  metadata/c-3-data-quality.ttl
  metadata/c-4-data-governance.ttl
  metadata/d-1-technology-strategy.ttl
  metadata/d-2-technology-execution.ttl
  metadata/d-3-user-interface.ttl
  metadata/data-pillar.ttl
  metadata/maturity-model.ttl
  metadata/organization-pillar.ttl
  metadata/technology-pillar.ttl
  old-latex-content/maturity-model.ttl
Labels: mkdocs-infra

chore(analytics): set new google analytics property id
  mkdocs.yml
Labels: mkdocs-infra

chore(ci): minor changes
  .tool-versions
  Makefile
  requirements.txt
Labels: mkdocs-infra, infra

chore(analytics): setting google analytics 4 datastream id
  mkdocs.yml
Labels: mkdocs-infra

chore(analytics): added google analytics feedback form
  mkdocs.yml
Labels: mkdocs-infra

chore(ci): fixing github actions build
  Makefile
Labels: mkdocs-infra

chore(ci): renamed EKG/MM to EKG/Maturity
  .github/workflows/docs.yml
  README.md
  convert-latex-markdown.sh
  docs/article/meta-maturity-model.md
  docs/generate_maturity_model.py
  docs/intro/executive-summary.md
  docs/intro/overview.md
  docs/intro/preface.md
  docs/intro/structure/pillars.md
  docs/other/contributors.md
  docs/other/history.md
  docs/other/how-to-register.md
  docs/other/index.md
  docs/other/process.md
  metadata/maturity-model.ttl
  old-latex-content/fragments/ekg-mm-capability-domains-summary.tex
Labels: mkdocs-infra

chore(ci): added .venv to .gitignore
  .gitignore
Labels: infra

chore(ci): fixed typo
  .env
  Makefile
  VERSION
  mkdocs.yml
Labels: mkdocs-infra, infra

chore(ci): more renames
  convert-latex-markdown.sh
  docs-fragments/pillar/business/capability-area/business-enablers/capability/capability-map/background-and-intro.md
  docs/article/dimensions-of-knowledge-risk-assessment.md
  docs/article/dimensions-of-knowledge-value-assessment.md
  docs/intro/executive-summary.md
  docs/other/author/carlos-tubbax.md
  docs/other/index.md
Labels: none

chore(ci): changed logo-url to quadrants
  mkdocs.yml
Labels: mkdocs-infra

chore(ci): fixed makefile
  Makefile
Labels: mkdocs-infra

chore(ci): fixed bug caused by repo-rename
  docs/assets/ekg-maturity-structure.png
  docs/other/process.md
Labels: none

feat(overview): sorted pillars in overview
  docs/intro/overview.md
Labels: none

chore(css): disabling CSS that we may no longer need
  docs/stylesheets/extra.css
Labels: none

chore(css): added pillar-dev for tests to ignore list
  docs/.gitignore
Labels: none

chore(css): added `ekgmm:sortKey` to ontology
  metadata/maturity-model.ttl
Labels: none
