Repository EKGF/ekg-maturity, changes with the labels that .github/labeler.yml gives for each.
All labels: mkdocs-infra, github-actions, infra, diagram

.github/labeler.yml:

mkdocs-infra:
  - Makefile
  - mkdocs.yml
  - docs-overrides/
  - docs/assets/
  - docs/stylesheets/
  - docs/main.py
  - '*/**/CNAME'
  - .tool-versions
  - README.md

github-actions:
  - .github/

infra:
  - etc/*
  - .*
  - /**/**.sh
  - /**/*.md

diagram:
  - /**/*.puml

Removed the PDF page from the website
  docs/other/pdf.md
Labels: none

Update background-and-intro.md
  docs-fragments/pillar/technology/capability-area/technology-execution/capability/identity-resolution/background-and-intro.md
Labels: none

meta maturity model work
  docs/article/meta-maturity-model.md
  docs/diagrams/.gitignore
  docs/diagrams/include/themes/dark.puml
  docs/diagrams/include/themes/general.puml
  docs/diagrams/include/themes/light.puml
  docs/diagrams/src/maturity-model.puml
  mkdocs.yml
Labels: mkdocs-infra

Added more scenarios to identity resolution chapter
  docs-fragments/pillar/technology/capability-area/technology-execution/capability/identity-resolution/background-and-intro.md
Labels: none

Fix workflow
  .github/workflows/website.yml
Labels: none

Fix workflow
  .github/workflows/website.yml
Labels: none

Deployed 3778184 with MkDocs version: 1.2.3
  404.html
  __pycache__/main.cpython-310.pyc
  appendix/business-strategy/index.html
  appendix/enterprise-architecture/index.html
  appendix/index.html
  appendix/operating-model/index.html
  article/introducing-kgi/index.html
  article/meta-maturity-model/index.html
  article/value-proposition-of-ekg/index.html
  assets/ekgf-ekg-mm-editors-version.pdf
  assets/ekgf-ekg-mm.pdf
  diagrams/include/themes/dark.puml
  diagrams/include/themes/general.puml
  diagrams/include/themes/light.puml
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  intro/index.html
  intro/overview/index.html
  intro/preface/index.html
  intro/strategic-objectives/index.html
  intro/structure/index.html
  intro/structure/levels/index.html
  intro/structure/pillars/index.html
  intro/structure/template/index.html
  other/contributors/index.html
  other/corporate-members/index.html
  other/history/index.html
  other/index.html
  other/process/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

add comment regarding sha256 needs alpha
  .actrc
  docs-fragments/pillar/technology/capability-area/technology-execution/capability/identity-resolution/background-and-intro.md
Labels: infra

Minor changes in UML diagram
  docs/diagrams/src/maturity-model.puml
Labels: none

Added preliminary notes for dimensions for the business pillar
  docs-fragments/pillar/business/capability-area/business-enablers/capability/capability-map/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/operating-model/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/supply-chain-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/change-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/value-chain/dimensions.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-vision/dimensions.md
  docs/diagrams/include/themes/dark.puml
  docs/diagrams/include/themes/light.puml
  docs/diagrams/src/maturity-model.puml
Labels: none

More content for the dimensions in the business pillar
  docs-fragments/pillar/business/capability-area/business-enablers/capability/capability-map/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/operating-model/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/performance-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/risk-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/supply-chain-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/change-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/market-segmentation/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/value-chain/dimensions.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-goals/dimensions.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-tactics/dimensions.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-vision/dimensions.md
Labels: none

Deployed 2a7dffe with MkDocs version: 1.3.0
  __pycache__/main.cpython-310.pyc
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  sitemap.xml.gz
Labels: none

Added new content to dimensions and updated existing dimensions in B-pillar
  docs-fragments/pillar/business/capability-area/business-enablers/capability/operating-model/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/performance-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/supply-chain-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/change-management/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/market-segmentation/dimensions.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/value-chain/dimensions.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-tactics/dimensions.md
Labels: none

Added article 'Dimensions of Knowledge Value Assessment'
  docs-overrides/main.html
  docs/article/dimensions-of-knowledge-value-assessment.md
  docs/other/.pages.yaml
  docs/other/author/.pages.yaml
  docs/other/author/avinash-patil.md
  docs/other/author/carl-mattocks.md
  docs/other/author/carlos-tubbax.md
  docs/other/author/index.md
  docs/other/author/jacobus-geluk.md
  docs/other/author/pete-rivett.md
  docs/other/contributors.md
  mkdocs.yml
Labels: mkdocs-infra

Update dimensions-of-knowledge-value-assessment.md
  docs/article/dimensions-of-knowledge-value-assessment.md
Labels: none

Minor changes in authors
  docs/other/.pages.yaml
  docs/other/author/avinash-patil.md
  docs/other/contributors.md
Labels: none

Added article by Carl Mattocks: Dimensions of Knowledge Risk Assessment
  docs/article/dimensions-of-knowledge-risk-assessment.md
  docs/other/author/carl-mattocks.md
  mkdocs.yml
Labels: mkdocs-infra

Attempt 1 to fix bug that skips pillar-generation
  .github/workflows/website.yml
Labels: none

Attempt 2 to fix bug that skips pillar-generation
  .github/workflows/create-pdf.yml.disabled
  .github/workflows/website.yml
  .tool-versions
  Makefile
  mnt/ekg-manifesto/.tool-versions
Labels: mkdocs-infra, infra

Deployed e7fff13 with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  sitemap.xml.gz
Labels: none

Deployed e7fff13 with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  assets/agnos.ai - Shell Proposal - Harry Coppoolse - 2022-03-10.pdf
  assets/ekgf-ekg-mm-editors-version.pdf
  assets/ekgf-ekg-mm.pdf
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  diagrams/out/persona-class-diagram.svg
  diagrams/out/persona-class-diagram_dark.svg
  diagrams/out/use-case-development-process.svg
  diagrams/out/use-case-development-process_dark.svg
  diagrams/out/use-case-life-cycle.svg
  diagrams/out/use-case-life-cycle_dark.svg
  sitemap.xml.gz
Labels: none

Deployed e7fff13 with MkDocs version: 1.3.1
  generate_maturity_model.py
  sitemap.xml.gz
Labels: none

Deployed e7fff13 with MkDocs version: 1.3.1
  sitemap.xml.gz
Labels: none

Attempt 3 to fix bug that skips pillar-generation
  Makefile
Labels: mkdocs-infra

Deployed ad113b4 with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  assets/agnos.ai - Shell Proposal - Harry Coppoolse - 2022-03-10.pdf
  assets/ekgf-ekg-mm-editors-version.pdf
  assets/ekgf-ekg-mm.pdf
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  diagrams/out/persona-class-diagram.svg
  diagrams/out/persona-class-diagram_dark.svg
  diagrams/out/use-case-development-process.svg
  diagrams/out/use-case-development-process_dark.svg
  diagrams/out/use-case-life-cycle.svg
  diagrams/out/use-case-life-cycle_dark.svg
  sitemap.xml.gz
Labels: none

Fixed typo
  docs/article/introducing-kgi.md
Labels: none

Deployed f6a376f with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  article/introducing-kgi/index.html
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Emptied intro page
  docs/intro/.pages.yaml
  docs/intro/executive-summary.md
  docs/intro/index.md
Labels: none

New initial content for intro page
  docs/intro/index.md
Labels: none

Deployed 220c9f5 with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  intro/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Added pillar pic
  docs/intro/index.md
Labels: none

Deployed ddbe82f with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  intro/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Took "how to register" out of process doc and made it seperate doc
  Makefile
  docs/intro/index.md
  docs/other/how-to-register.md
  docs/other/process.md
Labels: mkdocs-infra

Added link on intro page to "how to register"
  docs/intro/index.md
Labels: none

Added link to structure on intro page
  docs/intro/index.md
Labels: none

Added "contribution to the EKG" sections
  docs-fragments/pillar/business/capability-area/business-enablers/capability/capability-map/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/operating-model/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/change-management/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/market-segmentation/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/value-chain/background-and-intro.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-goals/background-and-intro.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-vision/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/ontologies/background-and-intro.md
  docs/intro/executive-summary.md
  docs/other/contributors.md
Labels: none

Moved all "contribution to EKG/Enterprise" sections from LaTeX to Markdown
  docs-fragments/pillar/business/capability-area/business-enablers/capability/capability-map/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/operating-model/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/performance-management/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/risk-management/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-enablers/capability/supply-chain-management/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/change-management/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/market-segmentation/background-and-intro.md
  docs-fragments/pillar/business/capability-area/business-model-elaboration/capability/value-chain/background-and-intro.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-goals/background-and-intro.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-tactics/background-and-intro.md
  docs-fragments/pillar/business/capability-area/strategy-actuation/capability/business-vision/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/business-vocabularies/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/data-integration/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/datasets/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/ontologies/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-architecture/capability/ontologies/levels.md
  docs-fragments/pillar/data/capability-area/data-governance/capability/classification-management/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-governance/capability/data-management-policy/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-governance/capability/operating-model/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-governance/capability/risk-and-control-framework/background-and-intro.md
  docs-fragments/pillar/data/capability-area/data-quality/capability/business-rules/background-and-intro.md
Labels: none

Update background-and-intro.md
  docs-fragments/pillar/technology/capability-area/technology-execution/capability/data-integration/background-and-intro.md
Labels: none

refactor(rdf): made RDF file names more unique
  ekg-mm/chapters-a-business-pillar/business-pillar.ttl
  ekg-mm/chapters-b-organization-pillar/organization-pillar.ttl
  ekg-mm/chapters-c-data-pillar/data-pillar.ttl
  ekg-mm/chapters-d-technology-pillar/technology-pillar.ttl
  ekg-mm/maturity-model.ttl
Labels: none

Deployed a19d05e with MkDocs version: 1.3.1
  __pycache__/main.cpython-310.pyc
  diagrams/out/maturity-model.svg
  diagrams/out/maturity-model_dark.svg
  pillar/technology/capability-area/technology-execution/capability/data-integration/background-and-intro/index.html
  pillar/technology/capability-area/technology-execution/capability/data-integration/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none
